pin-depends: [
  ["opam-client.dev" "git+https://github.com/tmattio/opam#fc5a77ad4a1917dfc41d219917a282ef9b0c48cc"]
  ["opam-core.dev" "git+https://github.com/tmattio/opam#fc5a77ad4a1917dfc41d219917a282ef9b0c48cc"]
  ["opam-devel.dev" "git+https://github.com/tmattio/opam#fc5a77ad4a1917dfc41d219917a282ef9b0c48cc"]
  ["opam-format.dev" "git+https://github.com/tmattio/opam#fc5a77ad4a1917dfc41d219917a282ef9b0c48cc"]
  ["opam-installer.dev" "git+https://github.com/tmattio/opam#fc5a77ad4a1917dfc41d219917a282ef9b0c48cc"]
  ["opam-repository.dev" "git+https://github.com/tmattio/opam#fc5a77ad4a1917dfc41d219917a282ef9b0c48cc"]
  ["opam-solver.dev" "git+https://github.com/tmattio/opam#fc5a77ad4a1917dfc41d219917a282ef9b0c48cc"]
  ["opam-state.dev" "git+https://github.com/tmattio/opam#fc5a77ad4a1917dfc41d219917a282ef9b0c48cc"]
]
